.cart-page {
  padding: 6vh 10vw 6vh 10vw;
  background-image: url('../../assets/forge.jpeg');
  background-size: cover;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  height: 70vh;
}

.cart-list {
  background-color: #e7e7db;
  grid-area: 1/1/3/2;
  padding: 3vh;
  border-radius: 5%;
  box-shadow: 0 0 1.2em #333333;
}

.cart-list-holder {
  padding-top: 1vh;
  height: 60vh;
  background-color: white;
  box-shadow: 0 0 0.4em #333333;
  overflow-y: scroll;
  border-radius: 5%;
  font-family: Indie;
}

.cart-item-header {
  font-family: Medival;
}

.clear-cart-button {
  font-family: Medival;
  border-radius: 3em;
}

.cart-item {
  display: flex;
  text-align: left;
  padding: 0.5vh 2vw;
  box-shadow: 0 0.05em 0.04em #333333;
  margin-bottom: 0.5vh;
}

.cart-item-title {
  width: 20vw;
}

.cart-item-cost {
  width: 8vw;
}

.cart-item-button {
  border-radius: 3em;
  font-family: Indie;
}

.cart-list-total-items {
  margin-top: 1.5vh;
  text-align: right;
}

.cart-value-card {
  background-color: #e7e7db;
  grid-area: 2/3/3/4;
  display: grid;
  box-shadow: 0 0 0.4em #333333;
  border-radius: 5%;
  padding: 2vh;
  font-family: Indie;
}

.cart-titles {
  font-family: Medival;
}
