.categories-display {
  padding: 8vh 10vw 0 10vw;
  height: 74vh;
  background-color: #959595;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

.search-bar {
  grid-area: 1/1/2/4;
  font-family: Indie;
  justify-self: center;
  font-size: 1.3em;
}

.search-label {
  padding-right: 2em;
}

.search-input {
  text-align: center;
  font-family: Indie;
}

.search-button {
  margin-left: 2em;
  font-family: Indie;
}

.search-error {
  grid-area: 2/1/3/4;
  text-align: center;
}

.found-item-wrapper {
  grid-area: 2/1/3/4;
  justify-self: center;
}

.card-holder {
  display: flex;
  justify-content: center;
  color: white;
}

.card-holder:visited {
  color: #fff888;
}
