.categories-display {
  padding: 8vh 10vw 0 10vw;
  height: 74vh;
  background-color: #959595;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

.card-holder {
  display: flex;
  justify-content: center;
  color: white;
}
