@font-face {
  font-family: Medival;
  src: url('./assets/MedievalSharp-Regular.ttf');
}

@font-face {
  font-family: Indie;
  src: url('./assets/IndieFlower-Regular.ttf');
}

body {
  margin: 0;
  font-family: Medival;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
